/*用户评论区*/
.Comments-container {
  .CommentContent.css-1t9bp9f {
    color: $tailwind-gray-200;
  }

  //评论内容
  .css-1p9g937 {
    color: $tailwind-gray-50;
  }

  //添加评论的用户的昵称
  .css-g9ynb2 {
    color: $tailwind-gray-300;
  }

  //评论区容器外边框
  .css-1ki0pxd {
    border-color: $tailwind-gray-600;
  }
  .css-2ovwuy::before {
    border-color: $tailwind-gray-600;
  }

  //登录用户添加评论边框
  .css-iin461 {
    border-color: $tailwind-gray-600;
  }
  //评论框内placeholder
  .css-ip4bff .public-DraftEditorPlaceholder-root {
    color: $tailwind-gray-200;
  }
  //评论数量统计
  .css-1k10w8f {
    color: $tailwind-gray-50;
  }

  /*底部添加用户评论块*/
  .css-805ti0 {
    background: $tailwind-gray-800;
    box-shadow: rgba($tailwind-gray-900, 0.6) 0px -2px 6px !important;
  }

  .css-1yeqy9h::before {
    border-color: $tailwind-gray-600;
  }

  button.css-1evwjhc {
    background: $tailwind-gray-900;
    color: $tailwind-gray-400;
  }
}
