/* ==UserStyle==
@name           www.zhihu.com - 2023/2/2 14:51:50
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("www.zhihu.com") {
  :root {
    --tailwind-gray-900: 17, 24, 39;
    --tailwind-gray-800: 31, 41, 55;
    --tailwind-gray-700: 55, 65, 81;
    --tailwind-gray-600: 75, 85, 99;
    --tailwind-gray-400: 156, 163, 175;
    --tailwind-gray-300: 209, 213, 219;
    --tailwind-gray-200: 229, 231, 235;
    --tailwind-gray-100: 243, 244, 246;
    --tailwind-gray-50: 249, 250, 251;

    --tailwind-blue-500: 59, 130, 246;
    --tailwind-blue-400: 147, 197, 253;
    --tailwind-blue-300: 191, 219, 254;
  }

  /*容器背景*/
  #root {
    background-color: rgba(var(--tailwind-gray-900));
  }

  .App-main {
    background: rgba(var(--tailwind-gray-900));
  }

  .css-pgtd2j {
    color: rgb(var(--tailwind-blue-400));
  }

  /*顶部的Header*/
  .AppHeader {
    background-color: rgba(var(--tailwind-gray-800));
    border-bottom: 1px solid;
    border-color: rgba(var(--tailwind-gray-600));
  }

  /*顶部Header知乎图标*/
  .AppHeader-inner a svg {
    fill: rgb(var(--tailwind-blue-400));
  }

  /*header内部的文字链接*/
  .AppHeader-TabsLink {
    color: rgba(var(--tailwind-gray-400));
  }

  /*header内部的文字链接高亮*/
  .css-l2ygoj .AppHeader-TabsLink {
    &.is-active,
    &:hover {
      color: rgba(var(--tailwind-gray-50));
    }

    &.is-active::after {
      background-color: rgb(var(--tailwind-blue-400)) !important;
    }
  }

  /*顶部搜索框*/
  .Input-wrapper.Input-wrapper--grey {
    background: rgba(var(--tailwind-gray-900));
    border-color: rgba(var(--tailwind-gray-900));

    input.Input {
      color: rgb(var(--tailwind-gray-50));
    }
  }

  /*搜索框按钮和提问按钮*/
  .css-10fy1q8 {
    .SearchBar-searchButton {
      background-color: rgba(var(--tailwind-blue-400), 0.75);

      &:hover {
        background-color: rgba(var(--tailwind-blue-400));
      }

      &.hasValue {
        color: rgb(var(--tailwind-gray-50));
      }

      & svg {
        fill: rgb(var(--tailwind-gray-50));
      }
    }

    .SearchBar-askButton {
      background-color: rgba(var(--tailwind-blue-400), 0.75);
      color: rgb(var(--tailwind-gray-50));

      &:hover {
        background-color: rgba(var(--tailwind-blue-400));
      }
    }
  }

  .AppHeader-userInfo {
    svg {
      fill: rgb(var(--tailwind-gray-200));
    }

    a svg {
      fill: rgb(var(--tailwind-gray-200));
    }
  }

  /*次级Header*/
  .SearchTabs.SearchTab-bottomShadow {
    background-color: rgba(var(--tailwind-gray-800));
    border-bottom: 1px solid;
    border-color: rgba(var(--tailwind-gray-600));
  }

  /*次级Header内部的链接颜色*/
  .SearchTabs-actions ul li a {
    color: rgba(var(--tailwind-gray-100));

    &.is-active:after {
      background-color: rgb(var(--tailwind-blue-400));
    }
  }

  /*三级搜索Header*/
  .SearchTabs {
    background: rgba(var(--tailwind-gray-800));
  }

  /*三级搜索Header内部文字链接*/
  .List-item {
    background: rgba(var(--tailwind-gray-800));
  }

  /*三级Header搜索框*/
  .SimpleSearchBar-input {
    background: rgba(var(--tailwind-gray-900));
    border-color: rgba(var(--tailwind-gray-900));

    &.is-focus {
      background-color: rgb(var(--tailwind-gray-800));
      border-color: rgba(var(--tailwind-gray-800));
    }

    input {
      color: rgb(var(--tailwind-gray-50));
    }
  }

  .css-1mdzk7e .SimpleSearchBar-solidSearchButton {
    background-color: rgb(var(--tailwind-blue-400));
  }

  /*搜索回答卡片*/
  .Card.SearchResult-Card {
    background: rgba(var(--tailwind-gray-800));
  }

  .Search-container .ContentItem-actions {
    background: rgba(var(--tailwind-gray-800));
  }

  .Search-container .ContentItem-title {
    color: rgba(var(--tailwind-gray-50));
  }

  .Search-container .RichText b {
    color: rgba(var(--tailwind-gray-50));
  }

  .Search-container .RichContent.is-collapsed .RichContent-inner {
    color: rgba(var(--tailwind-gray-100));
  }

  .ContentItem-more {
    color: rgba(var(--tailwind-blue-400));

    &:hover {
      color: rgba(var(--tailwind-blue-400));
    }
  }

  /*搜索回答作者名称*/
  .AuthorInfo-name {
    color: rgba(var(--tailwind-gray-200));
  }

  /*搜索回答作者简介*/
  .AuthorInfo-badgeText {
    color: rgba(var(--tailwind-gray-400));
  }

  .Search-container .RichContent .RichContent-inner {
    color: rgba(var(--tailwind-gray-200));
  }

  /*搜索回答内图片*/
  .css-1g0fqss .lazy[data-lazy-status="ok"] {
    border-radius: 8px;
  }

  .css-1g0fqss .content_image.zh-lightbox-thumb,
  .css-1g0fqss .origin_image.zh-lightbox-thumb {
    border-radius: 8px;
  }

  /*搜索回答内代码块*/
  .css-1g0fqss pre {
    background-color: rgba(var(--tailwind-gray-900));
  }

  /*搜索回答内小代码*/
  .css-1g0fqss code {
    background-color: rgba(var(--tailwind-gray-900));
    color: #e0e7ff;
  }

  .css-1g0fqss a.ztext-link:hover,
  .css-1g0fqss a.internal:hover,
  .css-1g0fqss a.external:hover {
    color: rgb(var(--tailwind-blue-400));
    border-color: rgb(var(--tailwind-blue-400));
  }

  /*他人关注问题卡片内关注问题按钮*/
  .TopstoryItem
    .ContentItem-actions
    .Button:not(.Button--plain):not(.Button--link) {
    color: rgb(var(--tailwind-blue-400));
    border-color: rgb(var(--tailwind-blue-400));
    /*回答点赞按钮*/
    &.LikeButton,
    &.VoteButton {
      background-color: rgba(var(--tailwind-blue-400), 0.1);
      color: rgba(var(--tailwind-blue-400));
      border-color: transparent;
      &:not(:disabled):hover {
        background-color: rgba(var(--tailwind-blue-400), 0.2);
      }

      &.is-active {
        background-color: rgba(var(--tailwind-blue-400));
        color: rgba(var(--tailwind-gray-50));

        &:hover {
          background-color: rgba(var(--tailwind-blue-400));
        }
      }
    }
  }

  /*回答卡片底部信息*/
  .ContentItem-action:not(:first-child) {
    color: rgb(var(--tailwind-gray-400));
  }

  /*回答内其他回答链接*/
  .css-1g0fqss .LinkCard.new {
    background-color: rgb(var(--tailwind-gray-900));

    .LinkCard-title {
      color: rgb(var(--tailwind-gray-50));
    }
  }

  /*搜索信息标题*/
  .Highlight em {
    color: #f43f5e;
  }

  /*搜索信息标题*/
  .ContentItem-title a:hover {
    color: rgb(var(--tailwind-blue-200));
  }

  /*搜索页侧边乱七八糟信息*/
  .css-knqde {
    display: none;
  }

  /*相关搜索*/
  .RelevantQuery h2 {
    color: rgb(var(--tailwind-gray-50));
  }

  .RelevantQuery li {
    color: rgb(var(--tailwind-blue-200));
  }

  /*搜索回答内引用*/
  .css-1g0fqss blockquote {
    color: rgb(var(--tailwind-gray-300));
  }

  .SearchTopicHeader-Introduction,
  .SearchTopicHeader-Introduction p {
    color: rgba(var(--tailwind-gray-50));
  }

  /*搜索页话题链接*/
  .SearchTopicHeaderLink {
    color: rgb(var(--tailwind-blue-200));
  }

  /*搜索页话题信息更多按钮*/
  .SearchTopicHeader-IntroTail {
    background: none;
    color: rgba(var(--tailwind-blue-400));
  }

  .SearchTopicHeader-IntroTail:before {
    display: none;
  }

  /*搜索结果页*/
  .SearchResult-Card .SearchItem-type {
    background: rgba(var(--tailwind-gray-600));
    color: rgb(var(--tailwind-gray-300));
  }

  /*搜索相关电子书*/
  .KfeCollection-PcCollegeCard-wrapper {
    background-color: rgb(var(--tailwind-gray-800));

    .KfeCollection-PcCollegeCard-root {
      background-color: rgb(var(--tailwind-gray-800));

      .KfeCollection-PcCollegeCard em {
        color: #f43f5e;
      }

      span.KfeCollection-PcCollegeCard-type {
        background-color: rgb(var(--tailwind-gray-700));
        color: rgb(var(--tailwind-gray-300));
      }

      .KfeCollection-PcCollegeCard-meta {
        .KfeCollection-PcCollegeCard-description,
        .KfeCollection-PcCollegeCard-moreDescription {
          color: rgb(var(--tailwind-gray-100));
        }
      }

      .KfeCollection-PcCollegeCard-searchMore {
        color: rgba(var(--tailwind-blue-400));
      }
    }
  }

  /*首页细分导航栏*/
  .Topstory-tabs {
    background-color: rgba(var(--tailwind-gray-800));
    color: rgba(var(--tailwind-gray-50));
    border-color: rgba(var(--tailwind-gray-900));
  }

  .TopstoryTabs-link {
    color: rgba(var(--tailwind-gray-50));

    &:hover {
      color: rgba(var(--tailwind-blue-400));
    }

    &.is-active {
      color: rgba(var(--tailwind-blue-400));
    }
  }

  /*首页向下滚动出现的header*/
  .TopstoryPageHeader {
    .TopstoryPageHeader-main {
      /*知乎图标*/
      .css-nxq4uo {
        a svg {
          fill: rgb(var(--tailwind-blue-400));
        }
      }
    }

    .TopstoryPageHeader-aside {
      & > .Button {
        background-color: rgb(var(--tailwind-blue-400));
        color: rgb(var(--tailwind-gray-50));
      }

      .QZcfWkCJoarhIYxlM_sG.is-focus {
        background: rgba(var(--tailwind-gray-600));
        border-color: rgba(var(--tailwind-gray-600));
      }

      input {
        color: rgb(var(--tailwind-gray-50));
      }
    }
  }

  /*关注页卡片*/
  .Topstory-mainColumnCard .Card:not(.Topstory-tabCard) {
    background-color: rgba(var(--tailwind-gray-800));
    border-color: rgba(var(--tailwind-gray-900));
    border-width: 2px;
  }

  /*关注页卡片底部菜单栏*/
  .ContentItem-actions {
    background-color: rgba(var(--tailwind-gray-800));
  }

  /*关注页卡片标题*/
  .ContentItem-title {
    color: rgb(var(--tailwind-gray-50));
  }

  /*关注页卡片内容*/
  .RichContent.is-collapsed .RichContent-inner {
    color: rgb(var(--tailwind-gray-100));
  }

  /* .RichContent.is-collapsed .RichContent-inner :hover {
        color: rgba(var(--tailwind-gray-100), 0.8)
    } */
  /*关注页图片*/
  img.css-1phd9a0 {
    border-radius: 8px;
  }

  .RichContent-inner {
    color: rgb(var(--tailwind-gray-100));
  }

  @media (min-width: 690px) {
    .RichContent.is-collapsed .RichContent-inner:hover {
      color: rgba(var(--tailwind-gray-100), 0.6);
    }
  }

  .css-1oy4rvw .Card {
    background-color: rgba(var(--tailwind-gray-800));
  }

  .CreatorEntrance-Link--smallIcon .CreatorEntrancePage-hint--smallIcon {
    svg.CreatorEntrance-creatorIcon {
      fill: rgb(var(--tailwind-gray-200));
      color: rgb(var(--tailwind-gray-200));
    }

    .CreatorEntrance-text {
      .css-zkfaav {
        color: rgb(var(--tailwind-gray-200));
      }
    }
  }

  .Footer {
    display: none;
  }

  /*回到顶部按钮*/
  .css-gdd4kf {
    background: rgba(var(--tailwind-gray-800));

    &:hover {
      background: rgb(var(--tailwind-gray-700));
    }

    & svg {
      fill: rgb(var(--tailwind-gray-400));
    }

    &:hover svg {
      fill: rgb(var(--tailwind-gray-50));
    }
  }

  /*用户评论区*/
  .Comments-container {
    &.css-plbgu {
      .css-x0pxoz {
        border-color: rgb(var(--tailwind-gray-600));

        .css-ip4bff .Dropzone {
          color: rgb(var(--tailwind-gray-50));
        }

        .css-ip4bff .public-DraftEditorPlaceholder-root {
          color: rgb(var(--tailwind-gray-300));
        }
      }

      .css-z07uxh {
        border-color: rgb(var(--tailwind-gray-600));

        .css-vpssrj {
          color: rgb(var(--tailwind-gray-100));
        }

        .css-1hnxfhy {
          background-color: rgba(var(--tailwind-gray-900));
          border-color: rgb(var(--tailwind-gray-900));
          color: rgb(var(--tailwind-gray-50));

          .css-gjiv4z {
            background-color: rgba(var(--tailwind-gray-800));
            border-color: rgb(var(--tailwind-gray-900));
            color: rgb(var(--tailwind-gray-50));
          }

          .css-1v9si9f {
            color: rgb(var(--tailwind-gray-200));
          }
        }
      }
    }

    .css-1ygdre8 {
      color: rgba(var(--tailwind-gray-50));
    }

    .css-1rd0h6f {
      color: rgba(var(--tailwind-gray-300));
    }

    .css-we6n55::before {
      border-color: rgb(var(--tailwind-gray-600));
    }

    .css-805ti0 {
      background: rgb(var(--tailwind-gray-800));
    }

    .css-1yeqy9h::before {
      border-color: rgb(var(--tailwind-gray-600));
    }

    button.css-1evwjhc {
      background: rgb(var(--tailwind-gray-900));
      color: rgb(var(--tailwind-gray-400));
    }
  }

  /*单个具体的回答页面*/
  /*头部的回答信息*/
  .QuestionHeader {
    background: rgb(var(--tailwind-gray-800));

    .QuestionHeader-title {
      color: rgb(var(--tailwind-gray-50));
    }

    .QuestionHeader-topics {
      .QuestionTopic {
        /*问题相关标签*/
        &.css-1s3a4zw {
          background: rgba(var(--tailwind-blue-400), 0.2);
          color: rgb(var(--tailwind-blue-400));
        }
      }
    }

    /*问题的详细描述*/
    .RichText.css-1g0fqss {
      color: rgb(var(--tailwind-gray-200));
    }

    /*右侧问题统计信息*/
    .QuestionFollowStatus-counts {
      .NumberBoard-item {
        .NumberBoard-itemName {
          color: rgb(var(--tailwind-gray-400));
        }

        .NumberBoard-itemValue {
          color: rgb(var(--tailwind-gray-100));
        }

        &:hover {
          .NumberBoard-itemName {
            color: rgb(var(--tailwind-blue-400));
          }

          .NumberBoard-itemValue {
            color: rgb(var(--tailwind-blue-400));
          }
        }
      }
    }

    .NumberBoard--divider
      .NumberBoard-item
      + .NumberBoard-item
      .NumberBoard-itemInner {
      border-color: rgb(var(--tailwind-gray-600));
    }

    span.QuestionFollowStatus-people-tip {
      color: rgb(var(--tailwind-gray-300));
    }

    .QuestionHeader-footer {
      background-color: rgb(var(--tailwind-gray-800));

      .QuestionButtonGroup {
        .Button {
          background-color: rgba(var(--tailwind-blue-400));
          color: rgb(var(--tailwind-gray-900));
          border-color: rgb(var(--tailwind-blue-400));
        }

        a .Button {
          background: none;
          border-color: rgb(var(--tailwind-blue-400));
          color: rgb(var(--tailwind-blue-400));

          &:hover {
            background-color: rgba(var(--tailwind-blue-400), 0.2);
          }
        }
      }

      .QuestionHeaderActions {
        .GoodQuestionAction,
        .QuestionHeader-Comment,
        .ShareMenu-toggler {
          .Button {
            color: rgb(var(--tailwind-gray-400));

            &:hover {
              color: rgb(var(--tailwind-gray-400), 0.8);
            }
          }
        }
      }
    }
  }

  /*回答于回答之间的分割线*/
  .List-item + .List-item:after {
    border-color: rgb(var(--tailwind-gray-600));
  }

  /*未展开全部回答时的第一个回答卡片*/
  .QuestionAnswer-content {
    background-color: rgba(var(--tailwind-gray-800));
  }

  /*查看全部回答按钮*/
  .Card {
    background-color: rgb(var(--tailwind-gray-800));

    a.QuestionMainAction {
      color: rgb(var(--tailwind-gray-300));
    }
  }
}
