/* ==UserStyle==
@name           www.zhihu.com - 2023/2/2 14:51:50
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("www.zhihu.com") {
  $tailwind-gray-900: #111827;
  $tailwind-gray-800: #1e293b;
  $tailwind-gray-700: #334155;
  $tailwind-gray-600: #475569;
  $tailwind-gray-500: #64748b;
  $tailwind-gray-400: #94a3b8;
  $tailwind-gray-300: #cbd5e1;
  $tailwind-gray-200: #e2e8f0;
  $tailwind-gray-100: #f1f5f9;
  $tailwind-gray-50: #f8fafc;

  $tailwind-blue-500: #3b82f6;
  $tailwind-blue-400: #60a5fa;
  $tailwind-blue-300: #93c5fd;

  $highlight: $tailwind-blue-400;
  $highlight-0-2: rgba($tailwind-blue-400, 0.2);
  $highlight-0-1: rgba($tailwind-blue-400, 0.1);
  $highlight-0-8: rgba($tailwind-blue-400, 0.8);

  /*容器背景*/
  #root {
    height: 100vh;
    background-color: $tailwind-gray-900;
  }

  .App-main {
    background: $tailwind-gray-900;
  }

  .css-pgtd2j {
    color: $tailwind-blue-400;
  }

  @import "header";
  @import "searchResult";
  @import "home";
  @import "question";
  @import "comment";
  @import "follow";
  @import "people/people";

  /*回到顶部按钮*/
  .css-gdd4kf {
    background: $tailwind-gray-800;

    &:hover {
      background: $tailwind-gray-700;
    }

    & svg {
      fill: $tailwind-gray-400;
    }

    &:hover svg {
      fill: $tailwind-gray-50;
    }
  }
  .Pagination {
    .PaginationButton {
      color: $tailwind-gray-400;
      &:hover {
        color: $highlight;
      }
    }
    .PaginationButton--current,
    html[data-theme="dark"] .PaginationButton--current {
      color: $tailwind-gray-50;
    }
  }
}
